@import url('https://fonts.googleapis.com/css?family=Exo:400,400i,700,700i|Roboto:400,400i,700,700i');

div listJava{
}

#listJava-table {
    border: 2px solid black;
}

#listJava  {
    border: 2px solid black;
}

table {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}




#listCss-table {
    border: 2px solid black;
}
