

#instructions {
    float: left;
    width: 100%;

}

#form {
    margin: auto;
    border: solid black 2px;
    margin: 25px;
    
}

.input {
    margin-top: 20px;
    margin-left: 20%;
    
}

input {
    margin-top: 10px;
    font-size: 1.2em;
    max-width: 50%;
    
}

#instructions {
    margin-top: 20px;
}

#message {
    margin-left: 10%;
}

#textarea {
    width: 85%;
    height: 150px;
    font-size: 1.2em;
}

.label {
    font-size: 1.1em;
}