p {
    font-size: 1.1em;
}

#instructions {
    float: left;
    width: 100%;
    margin: auto;
    text-align: center;
    margin-bottom: 25px;
}

#form {
    margin: auto;
    border: solid black 2px;
    margin: 25px;
    
}

.input_div {
    margin-top: 20px;
    margin-left: 20%;
    
}

input, .alert {
    margin-top: 10px;
    font-size: 1.2em;
    max-width: 50%;
    
}

#instructions {
    margin-top: 20px;
}

#message {
    margin-left: 10%;
}

#textarea {
    width: 85%;
    height: 150px;
    font-size: 1.2em;
}

#submit_div {
    margin-bottom: 20px;
}

.alert {
    font-size: 1em;
    background-color: rgba(209, 49, 49, 0.548);
}