/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

nav ul {
    list-style:none;

}


/* ----------------------------Header  ----------------------------------*/

* {
	text-decoration: none;
	
}

header {
	background-color: #fff;	 
	background-size:100%;
	width:100%;
	height: 100px;								  
	display: block;
    color: #111; 
    border-bottom: 2px solid #111;
}

header .header__meny {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color:#555555;    							 			
    font-weight: 900; 							    
    text-transform: uppercase;				 	    /*converts to uppercase letters*/
    display: block;
    margin: 0 auto;                                 /*center*/
    text-align: center;                             /*Centrer text*/
    width: fit-content;
    height:40px;
    padding: 30px 0;
}	
		
	
	
header nav ul{
    display: block;
    margin: 0 auto;
    width: fit-content;
    
}
    
header nav ul li{
    float:left;
    padding: 0px 16px;
}

header  nav ul li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    color: #111; 
    text-transform: uppercase;
    line-height: 75px;     
}

header  nav ul li a:hover{
    color: rgb(128, 17, 17);
}

@media only screen and (min-width: 700px){

    
    
    header .header__meny {
		margin: 31px 0;
        text-align: left;
        line-height: 38px; 
        padding: 0px 20px 0px 40px;
        border-right: 3px solid #111;
        float: left;
    }	
    
	header nav ul{
        margin: 0;
        float:left;
    }
    
    header nav ul li a{
        line-height: 100px;
    }
}


/*--------------------------------INDEX-------------------------------*/

.index {
    display:inline-block; 
    width:100%;
    min-height:calc(100vh - 175) ;                  /*background picture is atleast 100vh -175px*/
    background-repeat: no-repeat;                      
    background-position: center;                    /*center the image*/
    background-size: cover;      
    border: 2px solid black;                   /*makes the full img cover the page*/          
}


.index h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
    font-weight: bold;
    color: #fff;
    text-align:center;
    text-shadow: 4px 4px 6px #111;
    line-height: 60px;
}

.index h2 {
    font-size: 35px;
    color: #fff;
    text-shadow: 2px 2px 4px #111;
    text-align:center;
    line-height:36px;
}

.container {
    background-image:url('Bilder/main2.jpg');
    border-bottom: 2px solid black;    
}



.indexLinks h3{
    font-size: 28px;
    font-weight:bold;
    color: #fff;
    text-align:center;
    width: 100%;
    line-height: 10vh;                                      /*Gör att texten blir centrerad vertikalt, för att boxen är totalt 100pixlar*/
    text-transform: uppercase;
    background-image: linear-gradient(to right, #56ccf2, #2f80ed);
}

.arrow{
    display:none;
}



@media only screen and (min-width: 800px){
    
    .index{
        min-height: calc(100vh - 100px);        
    }

    .arrow {
        display: inline;
        cursor: pointer;
    }

    .arrow p {
        font-size: 30px;
        color: rgb(85, 139, 190);
        letter-spacing: 5px; 
        left: calc(50vw - 64px);
        text-align:center;
    }
    
    .arrow p:hover {
        color: #0f487e;
    }

    .arrow img {
        position: relative;
        transform: translate(-50%,0);
        animation: move 2s infinite linear;
        left: calc(50vw - 16px);
    } 

    @keyframes move {
       
        0% {
            transform: translate(-50%,0);
        }

        25% {
            transform: translate(-50%, 15%);
        }

        50% {
            transform: translate(-50%, 0);
        }
        
        75% {
            transform: translate(-50%, -15%);
        }

        100% {
            transform: translate(-50%,0);
        }
    }

    .container {
        background-image:url('Bilder/main2.jpg');
        background-position: center;
        background-size: cover; 
        min-height: 100vh;
        background-size: cover;
        text-align: center;
    }
    
    .wrapper {
        margin:0 auto;
        max-width: 25%;
    }

    .indexLinks {
        display: inline-block;
    }

    .indexLinks h3{
        border: 1px solid white;
        background-image: linear-gradient(to right, #56ccf2, #2f80ed);
        margin: 5vh 100px 0px 0px;
        text-shadow: 2px 2px 8px #111;
    }
}


/*-----------------FOOTER-------------------*/

footer {
    margin:0px;
    width:calc(100% - 80px);
    padding: 40px 40px;
    background-color: #111;
   
   
}

footer ul {
    width: fit-content;
    padding-left: 20px;
}

footer ul li {
    display:block;
    text-decoration: none;
    list-style: none;
    color: #fff;
}

footer ul li a{
    font-size:14px;
    color: #fff; 
    text-transform: uppercase;
    line-height:30px;   
}







