/*------------------------------Header------------------------------------------*/


@media only screen and (min-width: 800px) {
    header nav ul li a{
         display: inline-block; 
    }
}
/*------------------------------Main------------------------------------------*/

.project {
    max-width: 100%;
    min-height:calc(100vh - 100px);
    text-align: center;
    border-bottom: 2px solid black;
}

.project h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-align:center;
    line-height:36px;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.project p {
    font-family: Arial, Helvetica, sans-serif;
}

.project img {
    display:inline-block; 
    width:100%;
    min-height:calc(50vh - 54.5px) ;                  /*background picture is atleast 100vh -175px*/
    background-repeat: no-repeat;                      
    background-position: center;                    /*center the image*/
    background-size: cover;
}

.project__summary, .project__readMore {
    margin-top: 10px;
    margin-bottom: 10px;
}

.project__body {
    display: none;
    text-align: justify;
    margin: 15px;
}

.project__readMore:hover {
    color: red;
}

@media only screen and (min-width: 800px) {
    .project{
        min-height:calc(100vh - 175px) ; 
    }
   
    .project img{
        height: 78vh;
    }

    .project__readMore {
        cursor: pointer;
    }

    .project {
        margin:0 auto;
        max-width: 75%;
    }
}



