

/*------------------------------Main------------------------------------------*/
.project {
    display:inline-block; 
    width:100%;
    min-height:calc(100vh - 175);
}


.project h2 {
    font-size: 35px;
    color: #fff;
    text-shadow: 2px 2px 4px #111;
    text-align:center;
    line-height:36px;
    background-image: linear-gradient(to right, #56ccf2, #2f80ed);
}

div .body {
    display:none;
}

.project img {
    display:inline-block; 
    width:100%;
    min-height:calc(100vh - 175) ;
}



@media (min-width: 700px) {
    #proj1 {
        float: left;
       /* margin-left: 10%; */
    }

    #proj2 {
        float: right;
       /* margin-right: 10%;*/
    }   
}

