body {
    background-image: url("Bilder/tech-background.png");
    display:inline-block; 
    min-width:100%;
    min-height:calc(100vh - 175) ;                  /*background picture is atleast 100vh -175px*/
    background-repeat: no-repeat;                      
    background-position: center;                    /*center the image*/
    background-size: cover;                         /*makes the full img cover the page*/          
}

.wrapper {
    width: 90%;
    max-width: 90%;
    margin: auto;
    text-align: center;
}

.description__text, {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.portrait {
    max-width: 100%;
}

.experience {
    border: solid black 2px;
    background-color: rgb(185, 185, 185);
    padding: 10px;
    margin: 20px;
    border: ridge 4px grey;
}
.experience__bar {
    background-image: linear-gradient(to right, rgb(45, 134, 134), rgb(106, 255, 255));
    height: 1em;
    text-align: center;   
}


.experience__header {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;            
    text-align: center;
    clear: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}



.description {
    margin-top: 25px;
    text-align: justify;
    padding: 5px;
    border: ridge 8px rgb(105, 105, 105);
    background-color: rgba(255, 255, 255, 0.884);
    
}

.name {
    background-color: rgba(255, 255, 255, 0.884);
    border: ridge 8px rgb(105, 105, 105);
    margin: 20px;
}

#skills_container {
    margin-top: 40px;
    width: 200px;
}

#skills_container {
    background-color: rgba(255, 255, 255, 0.884);
}

 #skills_container, .portrait {
    border: ridge 8px rgb(105, 105, 105);
}

#skills, #languages {
    background-color: rgb(185, 185, 185);
    padding: 10px;
    margin: 20px;
    border: ridge 4px grey;
}


.border {
    border: solid black 2px;
    background-color:black;
    width: 80%;
    margin: 10px;
}

.fill {
    background-image: linear-gradient(to right, rgb(45, 134, 134), rgb(106, 255, 255));
    height: 1em;
    text-align: center;
}

.experience__name {
    margin: 10px;
}

#skill_java {
    width: 20%;
}

#skill_sql {
    width: 15%;
}

#skill_html {
    width: 20%;
}

#skill_swedish {
    width: 100%;
}

#skill_english {
    width: 80%;
}

#skill_german {
    width: 20%;
}
