body {
    background-image: url("Bilder/tech-background.png");
}

.wrapper {
    width: 90%;
    max-width: 90%;
    margin: auto;
}

p, h2 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin-bottom: 10px;
}

img {
    max-width: 50%;
}

.italic, .note {
    font-style: italic;
}

.note {
    font-size: 70%;
}

#name {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    clear: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

#portrait {
    max-width: 100%;
    margin-bottom: 40px;
}

#description {
    margin-top: 25px;
    text-align: justify;
    padding: 5px;
}

#skills_container {
    margin-top: 40px;
    width: 200px;
}

#name, #description, #skills_container {
    background-color: rgba(255, 255, 255, 0.884);
}

#name, #description, #skills_container, #portrait {
    border: ridge 8px rgb(105, 105, 105);
}

#skills, #languages {
    background-color: rgb(185, 185, 185);
    padding: 10px;
    margin: 20px;
    border: ridge 4px grey;
}
.skills_header {
    margin-left: 10px;
}

.border {
    border: solid black 2px;
    background-color:black;
    width: 80%;
    margin: 10px;
}

.fill {
    background-image: linear-gradient(to right, rgb(45, 134, 134), rgb(106, 255, 255));
    height: 1em;
    text-align: center;
}

.skill_name {
    margin: 10px;
}

#skill_java {
    width: 80%;
}

#skill_meme {
    width: 60%;
}

#skill_sql {
    width: 40%;
}

#skill_html {
    width: 25%;
}

#skill_swedish {
    width: 100%;
}

#skill_english {
    width: 95%;
}

#skill_german {
    width: 20%;
}

@media (min-width: 480px) {
    #portrait {
        float: right;
        margin-left: 50px;
    }

    #skills_container {
        float: left;
    }

    #description {
        margin-right: 20px;
    }
}